<?xml version="1.0" encoding="UTF-8"?>
<configuration />
<!--<configuration>-->
    <!--<include resource="org/springframework/boot/logging/logback/base.xml" />-->
    <!--<logger name="org.springframework.core" level="WARN"/>-->
    <!--<logger name="org.springframework.boot" level="WARN"/>-->
    <!--<logger name="org.springframework.test" level="WARN"/>-->
    <!--<logger name="org.springframework.context" level="WARN"/>-->
<!--</configuration>-->